*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    h2{
        margin-top: 100px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    .containerApps{
        width: 500px;
        height: auto;
        margin: 20px auto;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        label.title{
            font-weight: bold;
            margin: 10px 0px;
        }
        textArea.textArea{
            width: 100%;
            min-height: 150px;
            padding: 10px;
            font-size: 17px;
            outline: none;
            resize: none;
            border: 2px solid #1a73e8;
            border-radius: 10px;
        }
        .infoWords{
            margin-top: 10px;
            font-weight: bold;
            .WordsCounts{
                padding: 5px;
            }
            .WordsCounts::after{
                content: '|';
                margin-left: 5px;
                display: inline-block;

            }
            .CharactersCounts::after{
                content: 'Characters';
                display: inline-block;
                margin-left: 5px;
            }
        }
    }
}
@media screen and (max-width:570px) {
    .container{
        width: 100%;
        .containerApps{
            width: 100%;
            padding: 0px 10px;
        }
    }
}